<h1>Tic-Tac-Toe Game</h1>
<div id="message" class="fs-3 text-primary bg-success bg-opacity-25">Message Area</div>
Turn: <img id="turn" src="/images/X.png" height="40" width="40">

<table>
    <tbody>
        <tr>
            <td>
                <button value="btn0">
                    <img src="/images/O.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn1">
                    <img src="/images/X.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn2">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button value="btn3">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn4">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn5">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button value="btn6">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn7">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
            <td>
                <button value="btn8">
                    <img src="/images/U.png" width="100" height="100">
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button id="button-new-game" class="btn btn-outline-primary">New Game</button>